<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
</head>
<body>
    <h1>Cursos</h1>
    <p>Bem-vindo à página de Cursos!</p>
    <h2>Programação</h2>
    <p>Aprenda a programar com os nossos cursos especializados em linguagens de programação populares, como JavaScript e Python.</p>
    <h2>Design Gráfico</h2>
    <p>Desenvolva suas habilidades de design gráfico com os nossos cursos que abrangem desde o uso de software até princípios de design.</p>
    <h2>Marketing Digital</h2>
    <p>Aprenda estratégias eficazes de marketing digital para impulsionar sua presença online e alcançar seu público-alvo.</p>
</body>
</html>