<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>História</title>
</head>
<body>
    <h1>História</h1>
    <p>Bem-vindo à página de História!</p>
    <p>Aqui você encontrará informações sobre eventos históricos importantes.</p>
    <h2>Idade Antiga</h2>
    <p>A Idade Antiga foi um período fascinante na história da humanidade, marcado por grandes civilizações como os egípcios e os romanos.</p>
    <h2>Idade Média</h2>
    <p>A Idade Média foi uma época de transformação, com o surgimento do feudalismo e a expansão do Cristianismo.</p>
    <h2>Idade Moderna</h2>
    <p>A Idade Moderna foi marcada por importantes descobertas e avanços científicos, além de eventos como a Revolução Francesa.</p>
</body>
</html>