<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, accusamus qui perferendis magni natus 
    sunt suscipit quibusdam eligendi minus id. Reprehenderit excepturi ullam velit ipsam hic tempora voluptatum, 
    dolor cupiditate.
</body>
</html>